<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="fal">关闭</button>
    <h3 class="modal-title"><{if $cat.cat_id }>分类编辑<{else}>分类添加<{/if}></h3>
</div>

<form method="post" action="<{link app=seller ctl=site_cat act=add}>" id='cat_form' calss="form">
<div class="modal-body  form-horizontal">
<div class="form-body">
    <{if $cat.cat_id }><input type="hidden" value="<{$cat.cat_id}>" name="cat[cat_id]" /><{/if}>
    <div class="form-group">
        <label class="col-md-3 control-label">品牌名称
            <span class="required" aria-required="true">*</span>
       </label>
        <div class="col-md-5">
            <input type="text" required=true value="<{$cat.cat_name|escape:'html'}>" name="cat[cat_name]" vtype='required' class='form-control'/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">品牌地址
            <span class="required" aria-required="true">*</span>
       </label>
        <div class="col-md-5">
            <input type="text" required=true value="<{$cat.addr|escape:'html'}>" name="cat[cat_url]" vtype='required' class='form-control'/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">品牌logo
            <span class="required" aria-required="true">*</span>
       </label>
        <div class="col-md-5">
            <input type="text" required=true value="<{$cat.cat_logo|escape:'html'}>" name="cat[cat_logo]" vtype='required' class='form-control'/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">简介
            <span class="required" aria-required="true">*</span>
       </label>
        <div class="col-md-5">
            <input type="text" required=true value="<{$cat.cat_logo|escape:'html'}>" name="cat[cat_logo]" vtype='required' class='form-control'/>
        </div>
    </div>

</div>

<div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn blue">保存</button>
</div>

<{if $env.get.callback_func}>
<!-- 保存后，不跳转 -->
<input type="hidden" name="no_redirect" value="1">
<{/if}>
</form>

<{if $env.get.callback_func}>
<script charset="utf-8">
    //临时添加分类
    $('#cat_form').data('ajax:success',function(re){
        $('#cat_form').closest('.modal').modal('hide');
        re = jsonDecode(re);
        if(re.the_cat){
            if('<{$env.get.callback_func}>' in window){
                window['<{$env.get.callback_func}>'](re.the_cat);
            }
        }
    });
</script>
<{/if}>