<div class="page-header">
  <h1>店铺分类 <small>Store catagroy</small></h1>
</div>
<div class="bnt-group">
    <a class="btn btn-success" data-target="#cat_form" data-toggle="modal" label="添加分类" icon="fa-plus" href="<{link app=seller ctl=site_cat act=add}>">
        添加分类&nbsp;<i class="glyphicon glyphicon-plus-sign"></i>
    </a>
</div>
<form id="cat_form" action="<{link app=seller ctl=site_cat act=order}>" method="post">
<div class="table-scrollable">
    <table class="table  table-striped table-hover">
    <thead>
        <tr>
            <th>分类名称</th>
            <th width="10%">
            	<button class="btn btn-xs default" type="submit"><i class="fa fa-refresh"></i> 更新排名</button>
            </td>
            <th>是否为导航</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="cat_list">
        <{foreach from=$cats item=item name="item"}>
            <tr data-catid="<{$item.cat_id}>">
                <td><{$item.cat_name}></td>
                <td><input class="form-control input-sm" type="number" size="1" name="p_order[<{$item.cat_id}>]" value="0"></td>
                <td>
                	<label><input name="ismenu[<{$item.cat_id}>]" value="<{$item.cat_id}>" data-set-action="<{link app=seller ctl=site_cat act=update args0=$item.cat_id}>" data-unpub-action="" <{if $item.ismenu == 1}>checked="checked"<{/if}> type="checkbox"> 是</label>
                </td>
                <td>
                    <a data-target="#cat_form" data-toggle="modal" href="<{link app=seller ctl=site_cat act=edit args0=$item.cat_id}>" class="btn btn-xs btn-default"><i class="fa fa-edit"></i> 编辑</a>
                    <button type="button" data-catname="<{$item.cat_name}>"  data-action="<{link app=seller ctl=site_cat act=remove args0=$item.cat_id}>" class="btn btn-xs btn-default cat-del"><i class="fa fa-trash-o"></i> 删除</button>
                </td>
            </tr>
        <{/foreach}>
    </tbody>
    </table>
</div>
</form>
<script charset="utf-8">

$('#cat_list button.cat-del').on('click',function(e){
    e.stopPropagation();
    var btn = $(this);
    bootbox.confirm('确定删除分类<span class="badge">'+btn.attr('data-catname')+"</span>?",function(flag){
        if(flag){
            $.getJSON(btn.attr('data-action'),function(re){
                if(re && re.success){
                    btn.closest('tr').remove();
                    toastr['success'](re.success,'成功');
                }else if(re.error){
                    toastr['error'](re.error,'错误');
                }else{
                    toastr['error']('删除失败','错误');
                }
            });
        }
    });
});


$("#cat_form").on('submit',function(e){
    e.stopPropagation();
    $.post($(this).prop('action'),$(this).serialize(),function(re){
        if(re.error){
            _alert_error(re.error);
        }
        if(re.success){
            location = re.redirect;
        }
        signup_form.find('button[type=submit]').button('reset');
    },'json');
    return false;
});

$('#cat_list tr input[type=checkbox]').on('change',function(){
    var _this = $(this);
    var current_checked = $(this).is(':checked');
    var action_url = $(this).attr('data-set-action');
    var data = {
        'column' : 'ismenu',
        'value' : (current_checked ? 1 : 0)       
    };
    $.post(action_url, data, function(re){
        if(re.success){
            Messagebox.success(re.success,'成功');			
        }else{
            Messagebox.error(re.error||'操作失败','失败');
            _this.attr('checked',!current_checked);
        }
    },'json');  
});

</script>
<div class="modal fade" id="cat_form" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div>
    </div>
</div>