<div class="passport-lost-container">
    <div class="panel panel-default lost-panel">
      <div class="panel-heading clearfix">
          重置密码
          <a class="btn btn-danger btn-xs pull-right" href="<{link app=b2c ctl=site_passport act=login args0=$forward}>">登录&raquo;</a>
      </div>
      <div class="panel-body">
          <form id="reset_password_form" class="form-horizontal" action="<{link app=b2c ctl=site_passport act=reset_password args0='doreset'}>" method="post">
              <input type="hidden" name="forward" value="<{$forward}>">
              <div class="form-group">
                  <label for="input_uname" class="col-xs-2 control-label">账号<span class="text-danger">*</span></label>
                  <div class="col-xs-5">
                    <input name="uname" style="display:none" disabled="disabled">
                    <input type="text" required="true" autocomplete='off' name="account" class="form-control" id="input_account" placeholder="手机号/邮箱">
                  </div>
              </div>
              <div class="form-group">
                  <label for="input_uname" class="col-xs-2 control-label">新密码<span class="text-danger">*</span></label>
                  <div class="col-xs-5">
                    <input type="password" required="true"  name="new_password" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label for="input_uname" class="col-xs-2 control-label">确认新密码<span class="text-danger">*</span></label>
                  <div class="col-xs-5">
                    <input type="password" required="true"  name="new_password1" class="form-control" >
                  </div>
              </div>
              <div class="form-group">
                  <label for="input_vcode" class="col-xs-2 control-label">验证码<span class="text-danger">*</span></label>
                  <div class="col-xs-3">
                    <input type="text" required="true" name="vcode" class="form-control" id="input_vcode" placeholder="验证码">
                  </div>
                  <div class="col-xs-2">
                      <div class="vcode">
                          <button type="button" class="btn btn-default">获取验证码</button>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" data-loading-text="正在提交..." class="btn btn-danger">立即重置</button>
                  </div>
              </div>
          </form>
      </div>

    </div>
</div>




<script>
    /*
    * 会员重置密码脚本
    */
    void function(reset_form){
        var alert_timer = 0;
        var _alert_error = function(msg){
            reset_form.find('.alert-error').remove();
            reset_form.append($('<div class="alert alert-danger">'+msg+'</div>'));
            alert_timer = setTimeout(function(){
                clearTimeout(alert_timer);
                reset_form.find('.alert-danger').fadeOut('fast',function(){
                    $(this).remove();
                });
            },3000);
        }

        reset_form.on('submit',function(e){
            e.stopPropagation();
            reset_form.find('button[type=submit]').button('loading');
            $.post(reset_form.prop('action'),reset_form.serialize(),function(re){
                if(re.error){
                    _alert_error(re.error);
                }
                if(re.success){
                    location = re.redirect;
                }
                reset_form.find('button[type=submit]').button('reset');
            },'json');
            return false;
        });
        //获得短信验证码
        var _cutdown_sms = function(btn){
            btn.addClass('disabled');
            var cutdown = 120,btn_o_text = btn.text(),timer =
            setInterval((function(){
                btn.text('验证码已发送,'+(cutdown--)+'秒后可重试');
                if(cutdown<1){
                    clearInterval(timer);
                    btn.text(btn_o_text).removeClass('disabled');
                }
                return arguments.callee;
            })(),1000);
        };
        reset_form.find('.vcode button').on('click',function(e){
            var btn = $(this);
            if(btn.hasClass('disabled'))return;
            btn.addClass('disabled');
            $.post('<{link app=b2c ctl=site_passport act=member_vcode}>',{account:$('#input_account').val()},function(re){
                if(re && re.error){
                    btn.removeClass('disabled');
                    _alert_error(re.error);
                }
                if(re && re.success){
                    _cutdown_sms(btn);
                }
            },'json');


        });
    }($('#reset_password_form'));
</script>
