<h3 class="page-title">消息通知设置</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.php?ctl=adminpanel">控制面板</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">消息通知设置</a>
        </li>
    </ul>
</div>
<div class="table-scrollable" id="messenger_setting">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>事件</th>
            <th>Action Name</th>
            <th>Action Name 别名</th>
            <{foreach from=$sender_list item=item key=key}>
            <th><{$item.name}></th>
            <{/foreach}>
          </tr>
        </thead>
        <tbody>
          <{foreach from=$actions item=actinfo key=action name="item"}>
          <tr>
            <td><{$actinfo.label}></td>
            <td class="text-muted"><{$action}></td>
            <td class="text-muted">
                <input type="text" data-actionname="<{$action}>" class="actname-alias-ipt form-control input-sm input-small"  value="<{$actinfo.name_alias|default:$action}>">
            </td>
            <{foreach from=$sender_list item=item key=key}>
            <{if !in_array($key,$actinfo['exclude'])}>
            <td>
                <label <{if $actinfo.lock}>style="visibility:hidden;"<{/if}>>
                    <input data-actionname="<{$action}>" data-senderclass="<{$key}>" class="messenger-enabled-check" type="checkbox" <{if $actinfo[$key]['disabled']!==true || $actinfo.lock}>checked="checked" <{/if}>>
                    启用
                </label>
                <a class="btn btn-default btn-xs" data-target="#edittmpl_modal" data-toggle="modal" href="index.php?app=b2c&ctl=admin_member_messenger&act=edtmpl&p[0]=<{$key}>&p[1]=<{$action}>">编辑模板</a>
            </td>
            <{else}>
            <td><i class="fa fa-ban text-muted"></i></td>
            <{/if}>
            <{/foreach}>
          </tr>
          <{/foreach}>
        </tbody>
      </table>
</div>



<div class="modal" id="edittmpl_modal" role="basic" aria-hidden="true">
              <div class="modal-dialog modal-full">
                      <div class="modal-content">

                      </div>
              </div>
</div>


<script type="text/javascript">
var substitute = function(str, obj) {
    return str.replace(/\\?\{([^{}]+)\}/g, function(match, name) {
        if (match.charAt(0) == '\\') return match.slice(1);
        return (obj[name] != undefined) ? obj[name] : '';
    });
};
    $('.messenger-enabled-check').on('change',function(){
        var act = "index.php?app=b2c&ctl=admin_member_messenger&act={action}&p[0]={args0}&p[1]={args1}";
        $.getJSON(substitute(act,{
            'action':this.checked?'enabled':'disabled',
            'args0':$(this).attr('data-senderclass'),
            'args1':$(this).attr('data-actionname')
        }),function(re){
            jsonCommond(re);
        });
    });

    $(function(){
        $('#messenger_setting').on('focus','input.actname-alias-ipt',function(e){
            $(this).data('v',$(this).val());
        });
        $('#messenger_setting').on('blur','input.actname-alias-ipt',function(e){
            var edit_input = $(this),current_val = edit_input.val();
            if(current_val == edit_input.data('v'))return;
            var post_data = {
                'action_name':edit_input.attr('data-actionname'),
                'alias':current_val,
            };
            $.post("<{link app=b2c ctl=admin_member_messenger act=update_actname_alias}>",post_data,function(re){
                if(re && ('success' in re)){
                    edit_input.data('v',edit_input.val());
                    edit_input.val('已更新').fadeOut(function(){
                        edit_input.val(edit_input.data('v'));
                    }).fadeIn();
                }
            },'json');
        });

    });
</script>
