<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
    <h3 class="modal-title">添加新项</h3>
</div>
<form method="post" action="index.php?app=b2c&ctl=admin_member_attr&act=add" id='cat_form' calss="">
    <div class="modal-body form form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">名称
                    <span class="required" aria-required="true">*</span>
                </label>
                <div class="col-md-5">
                    <input type="text" required=true  name="attr_name"  class='form-control' />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">字段name
                    <span class="required" aria-required="true">*</span>
                </label>
                <div class="col-md-5">
                    <input type="text" placeholder="英文小写,多个单词'_'拼接" required=true  name="attr_column"  class='form-control' />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">字段输入类型
                    <span class="required" aria-required="true">*</span>
                </label>
                <div class="col-md-5">
                    <select class="form-control" name='attr_tyname' id="attr_tyname">
                        <option value="输入项">输入项</option>
                        <option value="单选项">单选项</option>
                        <option value="多选项">多选项</option>
                        <option value="日期选择器">日期选择器</option>
                    </select>
                    <div id="attr_options_pane" class="hide">
                        <input type="text" name="attr_option" value="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">是否可以为空
                </label>
                <div class="col-md-5">
                    <select class="form-control" name="attr_required">
                        <option value="false">可以为空</option>
                        <option value="true">不可为空（必填）</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn blue">保存</button>
    </div>
</form>
<script charset="utf-8">
    $('#attr_options_pane input[name=attr_option]').tagsInput({
        'width': 'auto',
        'defaultText':'新选项',
    });
    $('#attr_tyname').on('change',function(){
        if($(this).val() == '单选项' || $(this).val() == '多选项'){
            $('#attr_options_pane').removeClass('hide');
        }else{
            $('#attr_options_pane').addClass('hide');
        }
    });
</script>
