
<ol class="breadcrumb">
  <li><a href="<{link app=mobile ctl=index}>">首页</a></li>
  <li><a href="<{link app=b2c ctl=mobile_brand}>">品牌专区</a></li>
  <li class="active"><{$brand.brand_name}></li>
</ol>

<div class="brand-inlist-container">
    <h1><{$brand.brand_name}></h1>
    <div class="row">
        <div class="col-md-3">
            <img src="<{$brand.brand_logo|storager:'s'}>" alt="<{$brand.brand_name}>" height=90/>
        </div>
        <div class="col-md-9">
            <{$brand.brand_desc}>
        </div>
    </div>
</div>
